# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.env
venv/
.env/
__pycache__/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# MyPy
.mypy_cache/

# Pytest
.cache
pytest_cache/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Secrets
.env